@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');

body{
    font-family:  'Roboto', sans-serif;
    
    color: black;
}

h1, h2 {
    font-family:  'PT Sans', sans-serif;
    font-size: 150%;
}

/*header*/

header{
    height: 50px;
    padding: 10px 0 20px;
}

#logo{
    margin-left: 40px;
    float: left;
    font-size: 180%;
    color:rgb(50, 50, 173);
    letter-spacing: 4px;
    font-weight: 1000;
}

#start, #navbar{
    line-height: 60px;
}

#push-right{
float: right;
}

nav{
    margin-right: 50px; 
}

#navbar li{
    display: inline-block;    
}

#navbar a{
    text-decoration: none;
    margin: 10px 20px;
    color: black;
}

/*nav effects*/

#navbar li:hover{   
    transform: perspective(3); 
    transform: scale(1.2); 
  }

  #navbar a:hover{
    border-bottom: 1px solid rgb(50, 50, 173);
  }

  .active{
    border-bottom: 1px solid rgb(50, 50, 173);      
  }
  /*image*/

.image-div{
    width: 100%;
    height: 400px;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.home-banner{
    width: 93%;
    clear: both;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*section 1*/

#first-section{
    height: 400px;
    width: 100%;
    clear: left;
}

#first-section h3{
    font-size: 100%;
    font-family:'PT Sans', sans-serif;
    margin-left: 20px;
}

/*Reasons to meditate and what is mindfulnes -- section 1*/

#effect{
    width: 80%;
    margin: 0 auto;
}

#effect h2{
    font-weight: 900;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(50, 50, 173);
}

.left-about{
    float: left;
    width: 45%;
    text-align: left;
    padding: 5px;
    clear: right;
}

.right-about{
    float: right;
    width: 45%;
    text-align: left;
    padding: 5px;
    clear: right;
}

.section-two{
    clear: left;
}

/*benefits of meditation*/

#benefits .mid-page-header{
    font-weight: 900;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(50, 50, 173);
    clear: both;
}

#benefits p{
    width: 80%;
    margin: 0 auto;
}

#benefits ul{
    margin-left: 10%;
}

/*practice video and video text content*/

#practice-video{
    margin: 0 auto;
}

#video-div{
    width: 80%;
    float: left;
    position: relative;
    left: 25%;
}

#video-text{
    float: left;
    width: 100%;
}

#video-text h3{
    font-weight: 900;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(50, 50, 173);
}

#video-text p{
    text-align: center;
}